@font-face {
    font-family: "pixelfont1";
    src: url("font/pixelfont1.ttf");
}

h2 {
    text-align: center;
    font-family: pixelfont1;
    font-size: 65px;
    margin: 5px;
}

p, h4 {
    text-align: center;
}

.sitenav {
    list-style-type: none;
    text-align: center;
}

.sitenav-item {
    display: inline-block;
}