@font-face {
    font-family: "Black";
    src: url("font/psb.ttf");
}

@font-face {
    font-family: "Light";
    src: url("font/psl.ttf")
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    font-family: Black, sans-serif;
    font-size: 72px;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

header li {
    display: inline-block;
    font-family: Light, sans-serif;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding: 31.5px;
}

a:hover {
    color: grey;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-shrink: 0;
  }

  footer a {
    margin: 0;
    padding: 5px;
    text-decoration: none;
    color: black;
  }




  @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    
    a {
        color: white;
    }
}