@font-face {
    font-family: teletextRegular;
    src: url(./fonts/Teletext50.otf);
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: teletextSemiCondensed;
    src: url(./fonts/Teletext50-semicondensed.otf);
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: teletextExtended;
    src: url(./fonts/Teletext50-extended.otf);
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    padding: 0;
}

.hide {
    display: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;


}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}


.links {
    font-variant: small-caps;
    font-size: 26pt;
}

main {
    flex: 1;
}

.new-text {
    color: yellow;
    font-size: 0.75rem;
    vertical-align: middle;
    margin-left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
}

li a:hover + .new-text {
    visibility: visible;
    opacity: 1; 
}

ul, li, a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: teletextSemiCondensed;
    position: relative;
}


/*for links*/

#blog-link:hover {
    color: yellow;
}

ul li:first-of-type {
    margin-bottom: 2px; /* Adjust the gap size as needed */
    font-size: 110%
}

#flickr-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #0063dc, #ff0084); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

#github-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #4078c0, #f5f5f5); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

#backloggd-link:hover {
    color: #badefc;
    position: relative;
    z-index: 1;
}

#lastfm-link:hover {
    color: #d51007;
    position: relative;
    z-index: 1;
}

#discord-link:hover {
    color: #5865f2;
    position: relative;
    z-index: 1;
}

#youtube-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #ff0000, #f5f5f5); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

#steam-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #06183b, #137daf); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

#playstation-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #1355e1, #fdfdfd); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

#ra-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #4889e7, #d8b03a); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

#anilist-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #fefefe, #02a9ff); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

#rym-link:hover {
    color: transparent;
    background-image: linear-gradient(to right, #e5e5e5, #81c1e9, #2f52a1); /* Set your gradient colors */
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}


@media screen and (max-width: 720px) {
    
    .content {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 0 auto;
    }

    main {
        width: 70% !important;
    }

    .hyellow {
        font-size: 1.5rem;
    }
    

}